{% load static %}
<div class="leftpart">
  <div class="leftpart_inner">
    <div class="logo">
      {% if sitedata.profile_image %}
      <a href="{% url 'fullsiteview' sitedata.username %}"><img src="{{sitedata.profile_image.url}}" alt="" /></a>
      
      {% endif %}
    </div>
    <div class="menu">
      <ul>
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
       
      </ul>
    </div>
    <div class="copyright">
      <p>
        &copy; 2021 Lebriact<br />Created by
        <a href="#" target="_blank">Lerbiact</a>
        
      </p>
      
    </div>
    {% if request.user.is_authenticated %}
        <a style="text-decoration: none;" href="{% url 'account' %}">Edit me </a>
        {% else %}
        <a style="text-decoration: none;" href="{% url 'register' %}">Create own portfolio </a>
        {% endif %}
  </div>
</div>
