{% load static %}
<div class="leftpart">
  <div class="leftpart_inner">
    <div class="logo">
      
      <a href="{% url 'home' %}"><img src="{% static 'home/img/logo.png' %}" alt="" /></a>
      
    </div>
    <div class="menu">
      <ul>
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
       
      </ul>
    </div>
    <div class="copyright">
      <p>
        &copy; 2021 Lebriact<br />Created by
        <a href="#" target="_blank">Lerbiact</a>
        
      </p>
      
    </div>
    {% if request.user.is_authenticated %}
        <a style="text-decoration: none;" href="{% url 'account' %}">Edit me </a>

        <input style='width: 16pc;
        background: none;
        color: #fff;' type="text" value="https://{{ domain }}/@{{user.username}}" id="myInput" readonly>
        <button style="background: #00807a;
          border: none;
          color: #fff;
          padding: 10px;
          cursor: 
          border-radius: 5px;
          margin-top: 11px;" onclick="myFunction()">Copy this profile</button>
        {% else %}
        <a style="text-decoration: none;" href="{% url 'register' %}">Create own portfolio </a>
        {% endif %}
  </div>
</div>
<script>
	function myFunction() {
	  /* Get the text field */
	  var copyText = document.getElementById("myInput");
	
	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */
	
	   /* Copy the text inside the text field */
	  navigator.clipboard.writeText(copyText.value);
	
	  /* Alert the copied text */
	  alert("Copied the text: " + copyText.value);
	}
  </script>
