{% load static %}

<div class="sidebar_search">
    <form>
        <div class="search">
            <input type="text" placeholder="Search...">
            <button type="submit"><span class="icon-search"></span></button>
        </div>
    </form>
</div>
<div class="sidebar-widget sidebar-widget_post">
    <h3 class="sidebar-widget__title">Recent posts</h3>
{% for blog in blogdata %}
{% if forloop.counter <= 3 %}
    <div class="stories">
        <div class="stories-item">
            <a href="{% url 'single_blog' blog.id %}" class="stories-item__img"><img data-src="{% static 'home/img/examples/img1.jpg' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-lazy" alt=""></a>
            <div class="stories-item__infoline">
                <div class="stories-item__title"><a href="{% url 'single_blog' blog.id %}">{{blog.blog_title}}</a></div>
                <div class="stories-item__date">{{blog.blog_created|date:"M d, Y"}}</div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="sidebar-widget sidebar-widget_datepicker">
    <div id="datepicker" class="datepicker"></div>
</div>
<div class="sidebar-widget sidebar-widget_gallery">
    <h3 class="sidebar-widget__title">gallery</h3>
    <div class="gallery">
        <a href="img/examples/gallery_1_big.jpg" class="gallery__item js-fancybox" data-fancybox="gallery">
            <img data-src="img/examples/gallery_1.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-lazy" alt="">
        </a>
        
    </div>
</div>
<div class="sidebar-widget sidebar-widget_tags">
    <h3 class="sidebar-widget__title">Tags</h3>
    <div class="tags">
        {% for blog in blogdata %}
        {% if forloop.counter <= 6 %}
        <a href="blog.html" class="tags__item">{{blog.blog_category}}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>