{% extends 'userbase.html' %}

{% load static %}

{% block title %} Registration {% endblock title %}

{% block content %}


<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
                <form method="POST">
                    {% csrf_token %}
                    <a href="{% url 'home' %}"><img style='height:50px;' src="{% static 'home/img/logo.svg' %}" alt=""></a>
                    <h3>Register Here</h3>
                    {% for field in form %}
       
        {{field}}
        {% endfor %}

        <button class='log-reg-btn'>Register</button>
        <div class="p-t-10">
            {% comment %} <buttom type='submit' value="Register"></button> {% endcomment %}
            <a href="{% url 'login' %}" class="btn btn--pill btn--black">Login</a>
        </div>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <a href="#"><div class="fb"><i class="fab fa-facebook"></i>  Facebook</div></a>
          </div>
    </form>

{% endblock content %}